* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(177, 177, 177);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: rgb(65, 3, 236);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}

img {
  width: 30%;
  max-height: 100%;
  border-radius: 50%;
  margin-top: 0.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: rgba(6, 89, 185, 0.699);
  width: 30%;
  height: auto;
  margin: auto;
  padding: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.236);
  border-radius: 10px;
}

#box-1 {
  flex-direction: column;
  justify-content: center;
  background-color: rgb(223, 234, 247);
  width: 80%;
  margin: 1rem auto;
  padding: 0 1rem;
  height: 60%;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
}

#box-2 {
  display: flex;
  /* background-color: rgb(199, 111, 11); */
  width: 80%;
  margin: 0 auto 1rem;
  height: 50%;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

input {
  margin: 1rem 0.2rem 1rem;
  width: 80%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

#text {
  margin-top: 2rem;
}

#nascimento {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  /* background-color: rgb(199, 111, 11); */
}

button {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 20%;
  padding: 0.3rem 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#resultado {
  padding: 0 3rem;
}

span {
  display: flex;
}

footer {
  background-color: rgb(65, 3, 236);
  color: #fff;
  min-height: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}
